{% load i18n future pages_tags staticfiles mezzanine_tags %}
<div class="black-wrapper">
    <div class="container frappi-footer">
        <div class="row">
            <div class="col-sm-4">
                {#                <address class="pull-left">#}
                <strong>
                    Az. Agr. Vivai Piante Frappi Gino & Figli S.S Società Agricola
                </strong>
                <br>
                Loc. Montecchio Vesponi 249/c<br>
                52043 CASTIGLION FIORENTINO (AR)<br>
                {#                </address>#}
            </div>

            <div class="col-sm-4" style="text-align: center;">
                {#                {% include "includes/language_selector.html" %}#}
                Tel. 0575 651102
                <br/>
                P.I. 01265950517
                <br/>
                E-mail. <a href="mailto:info@vivaifrappi.com">info@vivaifrappi.com</a>
                <br/>

                <div class="row social">
                    Social.
                <span class="social-item">
                <a href="https://www.facebook.com/pages/Frappi-Gino-Figli-Vivai/288617147894688?fref=ts">
                    <i class="icon-s-facebook"></i>
                </a>
                    </span>
                    <span class="social-item">
                <a href="https://plus.google.com/111736918029878587968/about">
                    <i class="icon-s-gplus"></i>
                </a>
                        </span>
                    <span class="social-item">
                <a href="https://it.pinterest.com/elifraps/">
                    <i class="icon-s-pinterest"></i>
                </a>
                        </span>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="footer-img">
                    <img src="{% static "vivaifrappi/img/logo_footer.png" %}">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="subfooter">
    <div class="container">
        <div style="text-align: center; font-size: 12px; padding-top: 2px;">
            © 2014 Creato da <a href="https://it.linkedin.com/in/francescoscatassa/"><em>Francesco
            Scatassa</em></a>.
            Tutti i diritti sono riservati.
        </div>
    </div>
</div>
