<footer class="ef-footer mdl-mega-footer">
    <div class="mdl-grid">
        <div class="mdl-cell--6-col elisa">
            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <div class="footer-person">
                        <span class="font-secondary">Elisa</span>
                        <a class="footer-social-btn" href="https://www.facebook.com/elisa.frappi">
                            <i class="fa fa-3x fa-facebook-square"></i>
                        </a>
                        <a class="footer-social-btn" href="mailto:frappi.elisa@gmail.com">
                            <i class="fa fa-3x fa-envelope-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell--6-col francesco">

            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <div class="footer-person">
                        <span class="font-secondary">Francesco</span>
                        <a class="footer-social-btn" href="https://www.facebook.com/francesco.scatassa">
                            <i class="fa fa-3x fa-facebook-square"></i>
                        </a>
                        <a class="footer-social-btn" href="mailto:francesco.scatassa@gmail.com">
                            <i class="fa fa-3x fa-envelope-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<div class="ef-sub-footer mdl-grid">
    <div class="mdl-cell--4-col">
        <a href="/">
            <i class="material-icons">favorite</i> <span>Home</span>
        </a>
    </div>
    <div class="mdl-cell--4-col">
        <a href="/honeymoon">
            <i class="material-icons">flight_takeoff</i> <span>Viaggio di nozze</span>
        </a>
    </div>
    <div class="mdl-cell--4-col">
        <a href="/location">
            <i class="material-icons">map</i> <span>Come arrivare</span>
        </a>
    </div>
</div>