{% load staticfiles %}

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
{#<link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>#}
<link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static "elisaefrancesco/styles/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "elisaefrancesco/styles/material.min.css" %}">
<link rel="stylesheet" href="{% static "elisaefrancesco/styles/main.css" %}">
<link rel="stylesheet" href="{% static "elisaefrancesco/js/dialog-polyfill/dialog-polyfill.css" %}">

<script src="{% static "elisaefrancesco/js/material.min.js" %}"></script>
<script src="{% static "elisaefrancesco/js/dialog-polyfill/dialog-polyfill.js" %}"></script>