{% load staticfiles %}


<!-- home -->
<div class="ef-home mdl-typography--text-center">
    <div class="ef-slogan font-secondary">Elisa & Francesco</div>
    <div class="ef-sub-slogan font-secondary">24 settembre 2016
    </div>
</div>

<!-- date -->
<div class="ef-card-container ef-date-card">
    <div class="ef-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__media">
            <video id="elifraVideo" autoplay loop controls>
                <source src="{% static "elisaefrancesco/images/video.mp4" %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>

<!-- cerimonia -->
<div class="ef-card-container">
    <div class="ef-card-wide ef-wedding-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title wedding"></div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-typography--display-2 mdl-typography--font-thin">La cerimonia
            </div>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                La cerimonia avrà luogo nella chiesa dei Cappuccini ( pieve dei Santi Ippolito e Cassiano a Retina ),
                che si trova in località Pieve a Retina, a Castiglion Fiorentino.
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-map" data-map="church">
                Come arrivare &nbsp;<i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
</div>

<!-- ricevimento -->
<div class="ef-card-container">
    <div class="ef-card-wide ef-wedding-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title santamaria"></div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-typography--display-2 mdl-typography--font-thin">Il ricevimento
            </div>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Siamo lieti di ospitarvi nella splendida cornice di Santa Maria a Pigli in Località
                Sant'Andrea a Pigli.
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-map" data-map="santamaria">
                Come arrivare &nbsp;<i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
</div>

<!-- pernottamento -->
<div class="ef-card-container">
    <div class="ef-card-wide ef-wedding-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title hotel"></div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-typography--display-2 mdl-typography--font-thin">Il pernottamento
            </div>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Per gli ospiti che vengono da fuori abbiamo pensato di ospitarvi all' hotel Planet che dista
                pochi chilometri dal luogo della cerimonia
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-map" data-map="hotel">
                Come arrivare &nbsp;<i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
</div>

<!-- honeymoon -->
<div class="ef-card-container">
    <div class="ef-card-wide ef-wedding-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title honeymoon"></div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-typography--display-2 mdl-typography--font-thin">Viaggio di nozze
            </div>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                La nostra meta per festeggiare il matrimonio sarà il Perù e i Caraibi.
                Scopri il nostro itinerario e contribuisci al nostro viaggio da sogno.
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/honeymoon">
                Scopri &nbsp;<i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
</div>


<!-- date -->
{#<div class="ef-date-section">#}
{#    <div class="ef-card-container mdl-grid">#}
{#        <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">#}
{#        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">#}
{#            <div class="mdl-card__media">#}
{#                <video id="elifraVideo" autoplay loop controls>#}
{#                    <source src="{% static "elisaefrancesco/images/video.mp4" %}" type="video/mp4">#}
{#                    Your browser does not support the video tag.#}
{#                </video>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- cerimonia -->
{#<div class="ef-wedding-section church">#}
{#    <div class="ef-wedding-band">#}
{#        <div class="ef-wedding-band-text">#}
{#            <div class="mdl-typography--display-2 mdl-typography--font-thin">La cerimonia#}
{#            </div>#}
{#            <p class="mdl-typography--headline mdl-typography--font-thin">#}
{#                La pieve dei Santi Ippolito e Cassiano a Retina, oggi chiesa dei Cappuccini, è un edificio#}
{#                di#}
{#                culto cattolico#}
{#                che si trova in località Pieve a Retina, a Castiglion Fiorentino.#}
{#            </p>#}
{#            <p>#}
{#                <a class="mdl-typography--font-regular mdl-typography--text-uppercase ef-alt-link show-map"#}
{#                   data-map="church">#}
{#                    Come arrivare &nbsp;<i class="material-icons">chevron_right</i>#}
{#                </a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- ricevimento -->
{#<div class="ef-wedding-section santamaria">#}
{#    <div class="ef-wedding-band">#}
{#        <div class="ef-wedding-band-text">#}
{#            <div class="mdl-typography--display-2 mdl-typography--font-thin">Il ricevimento#}
{#            </div>#}
{#            <p class="mdl-typography--headline mdl-typography--font-thin">#}
{#                Siamo lieti di ospitarvi nella splendida cornice di Santa Maria a Pigli in Località#}
{#                Sant'Andrea a Pigli#}
{#            </p>#}
{#            <p>#}
{#                <a class="mdl-typography--font-regular mdl-typography--text-uppercase ef-alt-link show-map"#}
{#                   data-map="santamaria">#}
{#                    Come arrivare &nbsp;<i class="material-icons">chevron_right</i>#}
{#                </a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- hotel -->
{#<div class="ef-wedding-section hotel">#}
{#    <div class="ef-wedding-band">#}
{#        <div class="ef-wedding-band-text">#}
{#            <div class="mdl-typography--display-2 mdl-typography--font-thin">Il pernottamento#}
{#            </div>#}
{#            <p class="mdl-typography--headline mdl-typography--font-thin">#}
{#                Per gli ospiti che vengono da fuori abbiamo pensato di ospitarvi all' hotel Planet che dista#}
{#                pochi chilometri#}
{#                dal luogo della cerimonia#}
{#            </p>#}
{#            <p>#}
{#                <a class="mdl-typography--font-regular mdl-typography--text-uppercase ef-alt-link show-map"#}
{#                   data-map="hotel">#}
{#                    Come arrivare &nbsp;<i class="material-icons">chevron_right</i>#}
{#                </a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- honeymoon -->
{#<div class="ef-wedding-section honeymoon">#}
{#    <div class="ef-wedding-band">#}
{#        <div class="ef-wedding-band-text">#}
{#            <div class="mdl-typography--display-2 mdl-typography--font-thin">Lista nozze#}
{#            </div>#}
{#            <p class="mdl-typography--headline mdl-typography--font-thin">#}
{#                La nostra meta per festeggiare il matrimonio sarà il Perù e i Caraibi.#}
{#                Scopri il nostro itinerario e contribuisci al nostro viaggio da sogno.#}
{#            </p>#}
{#            <p>#}
{#                <a class="mdl-typography--font-regular mdl-typography--text-uppercase ef-alt-link">#}
{#                    Scopri &nbsp;<i class="material-icons">chevron_right</i>#}
{#                </a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
