{% extends "base_elisaefrancesco.html" %}
{% load mezzanine_tags keyword_tags staticfiles pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "elisaefrancesco/styles/honeymoon_style.min.css" %}">
    <style>
        .demo-layout-transparent {
            z-index: 9999;
            background: inherit;
        }

        .ef-navigation .mdl-navigation__link {
            color: white;
        }
    </style>
{% endblock extra_head %}

{% block content-body %}
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">

        {% include "pages/menus/ef_navbar.html" %}

        <div class="mdl-layout__content">
            <a name="top"></a>

        </div>
    </div>

    {% include "pages/honeymoon_content.html" %}

    <div>
    {% include "includes/ef_footer.html" %}
    </div>

{% endblock %}

{% block extra_footer_scripts %}
    <script src="{% static "elisaefrancesco/js/travel-app/app.min.js" %}"></script>
{% endblock %}
