{% load staticfiles %}

<div class="main">
    <header class="honeymoon-header">
        <h1 class="header-title">
            <span class="header-title__main">Perù e Caraibi</span>
            <span class="header-title__sub">Un viaggio alla scoperta dei tesori degli Incas e delle magnifiche spiagge caraibiche di Aruba
            </span>
        </h1>
    </header>
    <div class="intro">
        <p>
            <em>
                Abbiamo scelto questo viaggio come <b>lista nozze</b>.
                Se vuoi contribuire anche tu,
                contatta l' agenzia di viaggi Enterprise di Pesaro
                scrivendo una mail a Francesca <a href="mailto:francesca@enterpriseviaggi.it">francesca@enterpriseviaggi.it</a>
            </em>
        </p>
    </div>
    <div class="container"></div>

    <div class="text">

        <!-- Lima -->
        <section class="js-section"  data-zoom-start="1" data-zoom-middle="2" data-zoom-end="5" data-icon="{% static "elisaefrancesco/images/plane.svg" %}" >
            <h2>
                <span class="title-up">Lima</span>
                <span class="title-down">Il viaggio inizia</span>
            </h2>
            <!--<p class="text-intro">We caught glimpses of faces at most of the windows peering curiously at us and-->
            <!--watching our progress through the town.</p>-->
            <p class="mdl-typography--headline mdl-typography--font-thin">Prima colazione hotel. Mattinata dedicata alla visita della città. Da Plaza Mayor, dove si
                fondò
                Lima,
                prima come "La città dei re" nel 1535 e poi come capitale della Repubblica del Perù, nel
                1821, anno
                dell'indipendenza del paese. Visita al Palazzo Presidenziale, l'Arcivescovado e la
                Cattedrale di
                Lima.
                In seguito, la casa Aliaga, un'antica casa del vicereame consegnata da Francisco Pizarro a
                uno dei
                suoi
                capitani (Jerònimo de Aliaga), dopo la fondazione della città.</p>
            <figure>
                <img class="js-image" data-pos="0"
                     src="{% static "elisaefrancesco/images/journey/lima.jpg" %}"/>
                <figcaption>Cattedrale di Lima</figcaption>
            </figure>
            <p class="mdl-typography--headline mdl-typography--font-thin">Visita alla Chiesa San Francisco nella quale è conservata un'invidiabile collezione di libri
                antichi
                e
                possiede una serie di catacombe aperta al pubblico. Visita del distretto di Pueblo Libre,
                per
                visitare
                il Museo Larco, fondato da Rafael Larco Hoyle nel 1926 e si trova all'interno di una dimora
                del
                viceré
                costruita su una piramide precolombiana del secolo VII. Si può trovare la più completa
                collezione
                preispanica di reperti d'oro ed argento così come dell'oggettistica erotica. Dopo la visita
                trasferimento in aeroporto e partenza per Cusco. Arrivo e trasferimento
                in hotel.
                Pernottamento</p>
        </section>

        <!-- Valle Sacra -->
        <section class="js-section" data-zoom-start="5" data-zoom-middle="4" data-zoom-end="5">
            <h2>
                <span class="title-up">Valle Sacra - Aguas Calientes</span>
                <span class="title-down">I magici paesaggi degli Inca</span>
            </h2>
            <p class="mdl-typography--headline mdl-typography--font-thin">Partenza in pullman attraverso i magici paesaggi della Valle Sacra degli Inca, diretti alla
                cittadina
                di
                Ollantaytambo. Durante il tragitto si visiterà il coloratissimo mercato artigianale di Pisac
                dove
                sarà
                possibile fare degli ottimi acquisti. Visita delle saline di Maras, situate ai piedi di una
                montagna
                e
                divise in numerose pozze che ricevono acqua salata proveniente dal sottosuolo.
                Impressionante sito di estrazione di sale, utilizzato per estrarre sale e scambiarlo con
                altri
                prodotti
                con altre zone dell'impero. Continuazione per il villaggio di Ollantaytambo, tipico esempio
                della
                pianificazione urbana degli inca, ancora abitato come in passato. ‘E un grande sito
                archeologico
                che,
                benché sia denominato "fortezza", fu un "tambo", città di ristoro e alloggio per comitive
                che
                intraprendevano lunghi viaggi. Pranzo in ristorante. Dalla stazione ferroviaria di
                Ollantaytambo
                partenza in treno diretto ad Aguas Calientes. Arrivo e trasferimento per proprio conto in
                hotel.
                Cena e
                e pernottamento in albergo.</p>
            <figure>
                <img class="js-image" src="{% static "elisaefrancesco/images/journey/valle-sacra.jpg" %}"
                     data-pos="0.2"/>
                <figcaption>La valle sacra degli Inca</figcaption>
            </figure>
            <figure>
                <img class="js-image" src="{% static "elisaefrancesco/images/journey/ollantaytambo.jpg" %}"
                     data-pos="0.6"/>
                <figcaption>Ollantaytambo</figcaption>
            </figure>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Nota operativa: La guida lascia i pax alla stazione di Ollantaytambo e il viaggio in treno è
                previsto
                senza accompagnatore. All’arrivo ad Aguas Calientes troverete un incaricato dell’hotel
                prescelto che
                vi
                aiuterà a raggiungere l’hotel a piedi. Una volta in albergo sarete contattati personalmente
                o via
                telefonica dalla guida parlante italiano che vi fornirà tutte le indicazioni per la partenza
                al
                giorno
                dopo verso il Machu Picchu. Potete contattare la nostra assistenza Limatours in loco in
                qualunque
                momento. Si deve portare solo il bagaglio a mano con quel che ritenete necessario per una
                notte (MAX
                5KG
                per persona). Il bagaglio principale potete lasciarlo in deposito in hotel a Cusco.</p>
            <figure>
                <img class="js-image" data-pos="0.9"
                     src="{% static "elisaefrancesco/images/journey/aguas-calientes.jpg" %}"/>
                <figcaption>
                    Aguas Calientes
                </figcaption>
            </figure>
        </section>

        <!-- Machu Pichu -->
        <section class="js-section" data-zoom-start="5" data-stay="true">
            <h2>
                <span class="title-up">Macchu Picchu</span>
                <span class="title-down">La città perduta</span>
            </h2>
            <p class="mdl-typography--headline mdl-typography--font-thin"> Partenza in direzione del Machu Picchu a bordo dei bus che collegano Aguas Calientes
                all’ingresso
                del
                sito archeologico. Visita guidata (con guida locale privata in italiano) della cittadella
                attraverso
                la
                Piazza principale, gli appartamenti Reali, il Tempio delle Tre Finestre, la Torre Circolare,
                il
                Sacro
                Orologio Solare ed il cimitero. Rientro ad Aguas Calientes e pranzo presso Cafè Inkaterra
                Machu
                Picchu
                Pueblo e nel pomeriggio rientro a Ollanta a bordo del treno. Arrivo a Ollanta e
                trasferimento con
                mezzo
                privato a Cusco presso l’hotel prescelto. Cena libera e pernottamento.</p>

            <figure>
                <div class="js-gallery-content">
                    <img src="{% static "elisaefrancesco/images/journey/machu-picchu.jpg" %}"/>
                    <img src="{% static "elisaefrancesco/images/journey/the-temple-of-the-three-windows-machu-picchu.jpg" %}"/>
                </div>
                <figcaption>Machu Picchu</figcaption>
            </figure>
        </section>

        <!-- Cusco -->
        <section class="js-section" data-zoom-start="6" data-zoom-middle="6" data-zoom-end="5">
            <h2>
                <span class="title-up">Cusco</span>
                <span class="title-down">La capitale Inca</span>
            </h2>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Al mattino visita a piedi della splendida città di Cusco, che fu capitale dell’Impero Inca
                (XV
                secolo),
                attraverso la Plaza Regocijo, la Plaza de Armas, la Cattedrale, il Monastero di Santo
                Domingo, il
                leggendario Tempio Korikancha e la città vecchia. A seguire si visiteranno i siti
                archeologici di
                Kenko,
                Puca Pucara e la straordinaria fortezza di Sacsayhaman, da dove si gode di una straordinaria
                visita
                della città di Cusco. Pomeriggio libero dove potrete passeggiare per le vie del
                caratteristico
                quartiere
                di San Blas, un rione che fu abitato dalla nobiltà Inca che eresse imponenti costruzioni di
                pietra a
                pochi passi dalla famosa Plaza de Armas (Huacaypata).
                Potete visitare la Chiesa di San Blas, che custodisce un pulpito di grande bellezza e
                valore artistico, di legno intagliato e realizzato da un maestro indigeno. Cena in
                ristorante con
                spettacolo folcloristico e pernottamento in hotel.
            </p>
            <figure>
                <div class="js-gallery-content">
                    <img class="js-image" src="{% static "elisaefrancesco/images/journey/cuzco.jpg" %}"/>
                </div>
                <figcaption>
                    Cusco
                </figcaption>
            </figure>
        </section>

        <!-- Ande -->
        <section class="js-section" data-zoom-start="5" data-zoom-middle="4" data-zoom-end="5"
                 data-icon="{% static "elisaefrancesco/images/bus.svg" %}">
            <h2>
                <span class="title-up">Cusco - Puno</span>
                <span class="title-down">In viaggio lungo le Ande</span>
            </h2>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Trasferimento privato alla stazione dei bus. Partenza in bus turistico attraverso la
                spettacolare
                Cordigliera delle Ande.
            </p>
            <figure>
                <img class="js-image" data-pos="0.2"
                     src="{% static "elisaefrancesco/images/journey/cusco-puno-ande.jpg" %}"/>
                <figcaption>Le Ande
                </figcaption>
            </figure>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Nel corso del viaggio si incontreranno piccoli villaggi, greggi di lama e di
                alpacas. Durante il viaggio è prevista la visita alle piramidi di Pucarà ed al Tempio di
                Raqchi,
                costruito in onore del Dio Wiracocha (ancora oggi adibito a santuario è un centro energetico
                di
                grande
                fama), oltre alla spettacolare chiesa di Andahuaylillas. Pranzo lungo il percorso.
            </p>
            <figure>
                <img class="js-image" data-pos="0.6"
                     src="{% static "elisaefrancesco/images/journey/cusco-puno-village.jpg" %}"/>
                <figcaption>I villaggi
                </figcaption>
            </figure>
            <figure>
                <img class="js-image" data-pos="0.8"
                     src="{% static "elisaefrancesco/images/journey/cusco-puno-pucara.jpg" %}"/>
                <figcaption>Pucarà
                </figcaption>
            </figure>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                L’arrivo a Puno è previsto nel tardo pomeriggio.
                Arrivo alla stazione dei bus di Puno ed accoglienza da parte di personale parlante italiano.
                Trasferimento privato presso l’hotel prescelto. Cena libera e pernottamento.
            </p>
        </section>

        <!-- Titicaca -->
        <section class="js-section" data-zoom-start="5" data-zoom-middle="4" data-zoom-end="5">
            <h2>
                <span class="title-up">Lago Titicaca</span>
                <span class="title-down">Il lago più alto al mondo</span>
            </h2>

            <p class="mdl-typography--headline mdl-typography--font-thin">
                Dopo la prima colazione, incontro in hotel a Puno con l’incaricato di Crillon Tours
                (Bolivia) e
                trasferimento a Kasani (circa 2 ore e mezzo), disbrigo delle formalità doganali e
                proseguimento per
                Copacabana. Arrivo a Copacabana e visita al santuario mariano dove è custodita la “virgen
                morena” ed
                alla graziosa cittadina con il mercato locale. Imbarco sull’aliscafo e navigazione sul lago
                Titicaca.
            </p>
            <figure>
                <img class="js-image" data-pos="0.6"
                     src="{% static "elisaefrancesco/images/journey/titicaca-lake.jpg" %}"/>
                <figcaption>Il lago Titicaca
                </figcaption>
            </figure>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Sbarco all’isola della Luna in cui si possono visitare i resti del “tempio delle vergini”
                del Sol
                “Iñak
                Uyu”. Proseguimento fino alla bellissima Isola del Sole; sbarco. Passeggiata a piedi dovete
                potrete
                ammirare magnifici panorami del lago Titicaca. Possibilità di fare un tratto del percorso
                sul dorso
                della mula Patricia. Visita del tempio Pilcocaina. Arrivo in hotel e pranzo. Tempo per relax
                ed
                acclimatamento. Possibilità di passeggiare nei dintorni di questo piccolo villaggio dove si
                potrà
                respirare un’atmosfera del tutto mistica circondati da lama e pecore e con la possibilità di
                socializzare con le persone del posto, godere di splendide vedute del lago Titicaca. Da non
                perdere
                passeggiata fino in cima all’isola per godere di un tramonto mozzafiato e vista del lago
                Titicaca a
                360°.
                Cena e pernottamento presso Posada Inca Eco lodge.
            </p>
            <figure>
                <img class="js-image" data-pos="0.9"
                     src="{% static "elisaefrancesco/images/journey/titicaca-posada.jpg" %}"/>
                <figcaption>Posada Inca Eco lodge
                </figcaption>
            </figure>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Nota: Bisogna portare con se solo il bagaglio a mano con il necessario per la notte.
                Potete lasciare il bagaglio principale in aliscafo. Il personale vi indicherà come fare.
                Il percorso a piedi fino in hotel è di circa 45 minuti ad un’altitudine di circa 3.500
                mslm. Si consiglia di farlo lentamente. Il bagaglio a mano verrà trasportato dal personale
                locale.
            </p>
        </section>

        <!-- Isla del Sol -->
        <section class="js-section" data-zoom-start="5" data-zoom-middle="4" data-zoom-end="5"
                 data-icon="{% static "elisaefrancesco/images/plane.svg" %}">
            <h2>
                <span class="title-up">Isla del Sol</span>
                <span class="title-down">Relax nel lago</span>
            </h2>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Prima colazione in hotel e ancora un po’ di tempo per relax. In tarda mattinata visita della
                scalinata
                degli Inca e la famosa “fuente sagrada” che, secondo le antiche credenze, contiene le acque
                della
                giovinezza. Pranzo nel ristorante archeologico Uma Kollu. Proseguimento in aliscafo fino a
                Huatajata,
                visita di questo complesso alberghiero costruito nel miglior punto panoramico del lago
                Titicaca e
                disegnato con l’intento di introdurre il turista alle culture andine. Potrete usufruire
                delle
                attività
                quali visita dell’Eco Pueblo Raices Andinas, conoscere i fratelli Limachi (costruttori della
                barca
                di
                totora RA II e Tigris per Thor Heyerdhal per attraversare l’oceano, il museo
                dell’Altiplanico.
                Proseguimento via terra per La Paz (circa 1 ora e mezzo) e sistemazione in hotel.
                Pernottamento.
            </p>
            <figure>
                <img src="{% static "elisaefrancesco/images/journey/titicaca-isla-sol.jpg" %}"/>
                <figcaption>Isla del Sol
                </figcaption>
            </figure>
        </section>

        <!-- Aruba -->
        <section class="js-section" data-zoom-start="5" data-zoom-middle="2" data-zoom-end="4">
            <h2>
                <span class="title-up">Aruba</span>
                <span class="title-down">Mare!</span>
            </h2>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                Aruba è una piccola – piccolissima – perla dei Caraibi che si trova a circa 29 km dalle coste
                del
                Venezuela. Fa parte delle Piccole Antille. Questi i suoi – piccoli – numeri: 30 km di
                lunghezza, 8
                km di
                larghezza, 193 chilometri quadrati di superficie, abitata da non più di centomila persone
                Le spiagge di Aruba sono considerate tra le più pulite e spettacolari dell’intera regione
                dei
                Caraibi.
                Un mare di sabbia bianca e sottilissima è quello che vi aspetta se decidete di trascorrere
                una
                vacanza
                ad Aruba.
            </p>
            <figure>
                <img src="{% static "elisaefrancesco/images/journey/aruba-eagle-beach.jpg" %}"/>

                <figcaption>Eagle Beach
                </figcaption>
            </figure>
        </section>


{#        <section class="js-section" data-stay="true" data-zoom-start="1.2">#}
{#            <p>The strip is about fourteen miles wide at its narrowest part (not eight as shown on the#}
{#                existing#}
{#                maps),#}
{#                and extends north and south about twenty-five miles. Strytur is on the divide, or#}
{#                water-parting,#}
{#                between#}
{#                one system of rivers flowing north and another flowing south, and it stands on the highest#}
{#                part of#}
{#                this#}
{#                strip of land. The lava, as it issued from the volcano, flowed north and south down gentle#}
{#                declivities,#}
{#                and spread out east and west almost to the outlying ranges on the margins of the ice-fields.#}
{#                North#}
{#                it#}
{#                extends to just beyond Dufufell, and south almost to Lake Hvitarvatn.</p>#}
{#        </section>#}
        <section class="js-section" data-stay="true" data-zoom-start="0.8"></section>
    </div>

</div>