{% load mezzanine_tags i18n blog_tags keyword_tags staticfiles %}

{% block content-body %}
    {% if page.homepage.last_news_visible %}
        <div class="dark-wrapper">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <div class="divide20"></div>

                    {% blog_recent_posts 1 as recent_posts %}
                    {% if recent_posts %}
                        {% for recent_post in recent_posts %}
                            <div id="testimonials" class="carousel slide carousel-fade">
                                <!-- /.carousel-indicators -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        {{ recent_post.content|safe }}

                                        <span class="author">
                                            <a href="{{ recent_post.get_absolute_url }}">
                                                {% trans "read more" %} <i class="icon-right-thin"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="default-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divide20"></div>
                    {% editable page.homepage.main_content_title page.homepage.main_content %}
                        <h3>{{ page.homepage.main_content_title }}</h3>
                        <p class="lead">
                            {{ page.homepage.main_content }}
                        </p>
                    {% endeditable %}
                    <div class="divide20"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <video autoplay loop controls>
                                <source src="{% static "vivaifrappi/intro_video.mp4" %}"
                                        type="video/mp4"/>
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div class="divide50"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="light-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divide20"></div>
                    {% editable page.homepage.services_page.content %}
                        {{ page.homepage.services_page.content|richtext_filters|safe }}
                    {% endeditable %}
                </div>
            </div>

            {% if page.homepage.services_page.extra_template %}
                {% include page.homepage.services_page.extra_template %}
            {% endif %}

            <div class="divide20"></div>
        </div>
    </div>

    <div class="dark-wrapper">
        <div class="container">
            <div class="col-md-12">
                <div class="divide20"></div>
                <h3>{{ page.homepage.portfolio_content_title }}</h3>

                <div class="divide10"></div>
            </div>

            <div class="thumbs">
                {% for portfolio in page.homepage.portfolios.all %}
                    <div class="col-sm-4">
                        <div class="thumb graphic web">
                            <figure class="overlay">
                                <a>
                                    <span class="more">
                                        {{ portfolio.content }}
                                    </span>
                                    <img src="{{ MEDIA_URL }}{% thumbnail portfolio.image 400 300 %}" alt=""/>
                                </a>
                            </figure>

                            <div class="details">
                                <h5 class="green-text">{{ portfolio.title }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="divide20"></div>
        </div>
    </div>
    <style>
        .step {
            opacity: 0;
        }

        #carousel-frappi {
            background-color: #000;
        }

        video {
            width: 100%
        }

        .carousel-inner > .item > img,
        .carousel-inner > .item > video {
            margin: 0 auto;
        }
    </style>
    <script>
        $(document).ready(function () {

            function firstAnimation() {
                $('.step:eq(0)').delay(500).animate({
                    opacity: 1
                }, 'medium');

                $('.step:eq(1)').delay(1000).animate({
                    opacity: 1
                }, 'medium');

                $('.step:eq(2)').delay(1500).animate({
                    opacity: 1
                }, 'medium');

                $('.step:eq(3)').delay(2000).animate({
                    opacity: 1
                }, 'medium');
            }

            $(window).scroll(function () {
                if ($(window).width() <= 549) {
                    if ($(window).scrollTop() > 1800) {
                        firstAnimation();
                    }
                } else if ($(window).width() > 549 && $(window).width() <= 991) {
                    if ($(window).scrollTop() > 1200) {
                        firstAnimation();
                    }
                } else {
                    if ($(window).scrollTop() > 900) {
                        firstAnimation();
                    }
                }
            });
        });
    </script>
{% endblock %}
