{% extends page.homepage.base_page_template %}
{% load mezzanine_tags i18n blog_tags keyword_tags staticfiles %}


{% block header-content %}{% endblock %}

{% block carousel %}
    {% if page.site_id == 1 %}
        {% if page.homepage.slides.all %}
            <div id="carousel-frappi" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {#                <li data-target="#carousel-frappi"#}
                    {#                    data-slide-to="video-frappi"#}
                    {#                    class="active"></li>#}
                    {% for slide in page.homepage.slides.all %}
                        <li data-target="#carousel-frappi"
                            data-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {#                <div class="item active">#}
                    {#                    <div style="text-align: center;">#}
                    {#                        <iframe width="800" height="600"#}
                    {#                                src="https://www.youtube.com/embed/hz0DchkLqm8?autoplay=1&loop=1&controls=0"></iframe>#}
                    {#                        <video autoplay loop controls height="600">#}
                    {#                            <source src="{% static "vivaifrappi/intro_video.mp4" %}"#}
                    {#                                    type="video/mp4" />#}
                    {#                            Your browser does not support the video tag.#}
                    {#                        </video>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {% for slide in page.homepage.slides.all %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            <img src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 650 %}">
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-frappi" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-frappi" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock carousel %}

{% block content-body %}
    {% if page.site_id == 1 %}
        {% include "pages/homepage.html" %}
    {% endif %}

    {% if page.site_id == 2 %}
        {% include "pages/homepage_ef.html" %}
    {% endif %}
{% endblock %}
