{% load mezzanine_tags i18n staticfiles %}

<div class="divide20"></div>
<div class="row">
    <div class="col-md-12">
        <div class="process">
            <div class="col-sm-3 step no-arrow">
                <a href="/servizi/produzione">
                    <div class="icon">
                        <img class="frappi-icn" src="{% static "vivaifrappi/img/produzione.png" %}"/>
                    </div>
                    <h4>
                        <span>1.</span> {% trans "Produzione di piante ornamentali" %}
                    </h4>
                </a>
            </div>
            <!-- /.step -->
            <div class="col-sm-3 step">
                <a href="/servizi/progettazione">
                    <div class="icon">
                        <img class="frappi-icn" src="{% static "vivaifrappi/img/progettazione.png" %}"/>
                    </div>
                    <h4><span>2.</span> {% trans "Progettazione di giardini" %}</h4>
                </a>
            </div>
            <!-- /.step -->
            <div class="col-sm-3 step">
                <a href="/servizi/realizzazione">
                    <div class="icon">
                        <img class="frappi-icn" src="{% static "vivaifrappi/img/realizzazione.png" %}"/>
                    </div>
                    <h4><span>3.</span> {% trans "Realizzazione di spazi verdi pubblici e privati" %}</h4>
                </a>
            </div>
            <!-- /.step -->
            <div class="col-sm-3 step">
                <a href="/servizi/manutenzione">
                    <div class="icon">
                        <img class="frappi-icn" src="{% static "vivaifrappi/img/manutenzione.png" %}"/>
                    </div>
                    <h4><span>4.</span> {% trans "Manutenzione" %}</h4>
                </a>
            </div>
            <!-- /.step -->
        </div>
        <div class="divide50"></div>
    </div>
</div>
<div class="divide50"></div>
